body{ width:100%; overflow-x:hidden; font-family: "Montserrat", sans-serif; scrollbar-color: hsla(0,0%,53.3%,0.4) #fff; backdrop-filter: brightness(0.1);  -webkit-backdrop-filter:brightness(0.1); }
.jogos{ padding: 2% 5% 2%; }
.conta{ padding: 5% 5%; }
.entradas{ padding: 2% 5%; }
.entradas p{
    margin:0;
    padding:0;
}
#iframeId{ width:90%; margin-left:5%; height:700px;}
@media (max-width: 992px){
    .alert[data-notify] .close {
        right: 1rem !important;
        padding: 0;
        font-weight: 300;
        float: right;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.5;
        border: none !important;
        background-color: #d1e7dd;
    }
    .alert[data-notify]{
        font-size: 0.7rem !important;
    }
    .alert-success{
        width:75% !important;
        padding: 0.5rem 0.5rem !important;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        margin-right: 3%;
    }
    .alert[data-notify] .close {
        right: 1rem !important;
        padding: 0;
        font-weight: 300;
        float: right;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.5;
        border: none;
        background-color: #d1e7dd;
    }
    .alert[data-notify]{
        font-size: 0.7rem !important;
    }
    .alert-success{
        width:25% !important;
        padding: 0.5rem 0.5rem !important;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
}
.sinal{ margin-top: 1rem!important; }
.swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
    display: block;
    position: absolute;
    top: 2.3125em;
    width: 2.9375em;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #e0b42e !important;
}
.swal2-html-container {
    color: #ffffff !important;
}
.swal2-html-container a{
    color: #e0b42e !important;
}
.swal2-icon.swal2-error {
    border-color: #e0b42e !important;
    color: #e0b42e !important;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #e0b42e !important;
    color: black !important;
    font-size: 1em;
}
header{
    border-bottom:2px solid #e0b42e;
}
.bg-dark{
    background-color:#22c52a !important;
}
.jogos .card{
    background:#1f1b24 !important; 
    margin-bottom:30px;
    border-radius:8px;
}
.jogos a{
    text-decoration:none !important;
}
.off{
    filter: grayscale(1);
}
.game-body .online{
    border-radius: 10px;
    border:2px solid rgba(23, 219, 78, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight:bold;
    color:rgba(23, 219, 78, 1);
    margin-top:15px;
    width:80%;
    padding: 2px 2px;
    float:right;
    margin-right:20px;
}
.progress{
    width:86%;
    margin: 0 7% 10px;
}
.progress-bar{ 
    border-radius:4px;
    color: black !important;
    font-weight:bold !important;
}
.game-footer P{
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-weight:bold;
    color:white;
    line-height:9px;
    text-decoration:none !important;
    margin: 3px 20px 5px;
    text-align:left;
}
.progress {
    border-radius: 2.25rem !important;
}
.game-body h2{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight:bold;
    color:white;
    line-height:16px;
    margin: 15px 0 2px 20px;
    text-decoration:none !important;
    text-align:left;
}
.game-body p{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight:bold;
    color:#c2c2c2;
    line-height:11px;
    text-decoration:none !important;
    margin: 5px 20px 10px;
    text-align:left;
}
footer{ display:block; }
.jogos-disponiveis{
    background:#0a6e3f;
    color:#ffffff;
    padding: 15px 20px;
    text-align:left;
    border-radius:10px;
    margin-bottom:30px;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
}
.col-md-4 .card{ width:80% !important; margin-bottom:30px; margin-left:10%;}
.banner{
    width:100%;
    overflow:hidden;
}
.banner img{
    width:100%;
}
.entrada{
    width: 30%;
    margin: 5% 35%;
    background: #c2c2c2;
    border-radius: 12px;
    padding: 35px 30px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0,167,32,0.8);
-moz-box-shadow: 0px 0px 27px 0px rgba(0,167,32,0.8);
box-shadow: 0px 0px 27px 0px rgba(0,167,32,0.8);
}
.table-mines {
    width: 40%;
    height: 80%;
    margin-left: 30%;
}
.campo-empty {
    background: rgb(6, 59, 108);
    border: 4px solid #1f5ea3;
    height: 40px;
    width: 18%;
    float: left;
    margin: 2px;
    border-radius: 4px;
}
.campo-mines i{
    font-size: 29px;
}
.campo-mines {
    background: rgb(6, 59, 108);
    height: 40px;
    width: 18%;
    float: left;
    border-radius: 4px;
    border: 4px solid #1f5ea3;
    margin: 2px;
}
.campo-mines i{
    color:#e0b42e;
}
.box-1{
    font-family: 'Montserrat", sans-serif';
    background-color: rgb(32, 32, 36);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    height: 100%;
    padding: 15px 20px;
}
.box-2-mines, .box-1-mines{
    font-family: 'Montserrat", sans-serif';
    background-color: rgb(32, 32, 36);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    background-image: none;
    overflow: hidden;
    box-shadow: none;
    height: 100%;
    padding: 15px 20px;
}
.mapa-mines{
    width:100%;
    height:200px;
}
.msg-entrada {
    width: 98% !important;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 10px;
    border-radius: 4px;
    text-align: center;
    margin-left: 1%;
}
.msg-entrada h3{
    
}
.botao-mines{ margin-top:15px; padding: 10px 0; text-align:center; }
.botao-mines .btn-success{ width: 40%; } 
.grid-mines h3{
    font-size:15px;
}
.grid-entrada{
    flex-basis: 33.3333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.3333%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.entrada-instrucao, .entrada-gales, .entrada-saida{
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 10px;
    border-radius: 4px;
    text-align: center;
    font-size:12px;
    color:white;
    font-family: "Montserrat", sans-serif;
}
.entrada-instrucao h3{
    font-size: 11px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
    white-space: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.entrada-gales h3{
    font-size: 11px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
    white-space: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.entrada-saida h3{
    font-size: 11px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
    white-space: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.box-1-entrada{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(32, 32, 36);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    background-image: none;
    overflow: hidden;
    box-shadow: none;
    height: 100%;
    padding: 15px 20px;
}
.box-link{
    text-align:left;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(32, 32, 36);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    background-image: none;
    overflow: hidden;
    box-shadow: none;
    padding: 15px 25px;
    margin:20px 0;
}
.table-penalty {
    width: 40%;
    height: 80%;
    margin-left: 30%;
}
.campo-penalty {
    background: #c3c3c3;
    border: 4px solid rgb(32, 32, 36);
    height: 80px;
    width: 33.3%;
    float: left;
    font-size:50px;
}
.box-2-penalty{
    font-family: 'Montserrat", sans-serif';
    background-color: rgb(32, 32, 36);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    background-image: none;
    overflow: hidden;
    box-shadow: none;
    height: 100%;
    padding: 15px 20px;
}
.mapa-penalty{
    width:100%;
    height:200px;
}
.p-status{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    white-space: normal;
    font-family: "Montserrat", sans-serif;
}
.p-instrucao span{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    white-space: normal;
    font-family: "Montserrat", sans-serif;
}
.p-saida span{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    white-space: normal;
    font-family: "Montserrat", sans-serif;
}
.p-gales span{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    white-space: normal;
    font-family: "Montserrat", sans-serif;
}
.status-entrada{
    font-size: 13px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
    white-space: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.msg-entrada h3{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    white-space: normal;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}
.campo-goleiro {
    background: none;
    font-size: 55px;
}
.botao-penalty{ padding: 10px 0; text-align:center; }
.botao-penalty .btn-success{ width: 40%; } 
.grid-entrada{
    flex-basis: 33.3333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.3333%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.tentativas-penalty, .protecoes-penalty, .validade-penalty{
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 10px;
    border-radius: 4px;
    text-align: center;
    font-size:12px;
    color:white;
    font-family: 'Montserrat", sans-serif';
}
.validade-penalty h3{
    font-size:12px;
    color:white;
    font-family: 'Montserrat", sans-serif';
}
.minas-penalty h3{
    font-size:12px;
    color:white;
    font-family: 'Montserrat", sans-serif';
}
.tentativas-penalty h3{
    font-size:12px;
    color:white;
    font-family: 'Montserrat", sans-serif';
}
.protecoes-penalty h3{
    font-size:12px;
    color:white;
    font-family: 'Montserrat", sans-serif';
}

.logotipoLogin{
    width:25%;
}
.color-green{
    color: #e0b42e !important;
}
.color-nixty{
    color: red !important;
}

.logotipoCadastro{
    width:10%;
}
footer {
    width: 100%;
    background-color: #212529;
    color: white;
    padding: 5px 0 0;
    text-align: center;
    position: fixed;
    bottom: 0;
}
footer{ 
        display:block; 
        
    }
    footer .col-md-6{
        width:50%;
        float:left;
        border-right: 1px solid #c2c2c2;
    }
    footer button{
        background:transparent;
        border:none;
        width:100%;
        height:100%;
        color: white;
    }
.navbar-brand {
    width: 10%;
    text-align: center;
}
li{
    font-family: 'Bruno Ace SC', cursive;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #e0b42e !important;
    font-weight:bold;
}
h2{
    font-family: 'Bruno Ace SC', cursive;
    text-align:center;
    color: #e0b42e;
}
.logotipo{
    width:40%;
}
.formLogin{
    width:20% !important;
    margin-left:40%;
}
.div-recuperar-senha{
    text-align:center;
}
.div-recuperar-senha a{ 
    color:#B3B3A9;
    font-weight:bold;
}
.formLogin input{
    text-align:center;
    background:  black !important;
    color: #e0b42e !important;
    border: 2px solid #e0b42e;
    margin-bottom:15px;
}
.formLogin input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e0b42e !important;
  opacity: 1; /* Firefox */
}

.formLogin input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #e0b42e !important;
}

.formLogin input::-ms-input-placeholder { /* Microsoft Edge */
  color: #e0b42e !important;
}
.formLogin label{
   color:#c1c1c1;
   font-weight:bold;
}
.btn-login {
    background: #e0b42e !important;
    color: black !important;
    font-weight: bold !important;
    border: 2px solid black;
    width: 100%;
    margin-top: 15px;
    padding: 3px 0 !important;
    font-family: 'Bruno Ace SC', cursive;
}
.btn-login:hover{
    background:  black !important;
    color: #e0b42e !important;
    border: 2px solid #e0b42e;
}
.btn-logout {
    background: black !important;
    color: #e0b42e !important;
    font-weight: bold !important;
    border: 2px solid black;
    width: 100%;
    margin-top: 15px;
    padding: 3px 0 !important;
    font-family: 'Bruno Ace SC', cursive;
}
.btn-logout:hover{
    background:  #e0b42e !important;
    color: black !important;
    border: 2px solid #e0b42e;
}
.btn-cadastro {
    font-family: 'Bruno Ace SC', cursive;
    background: #B3B3A9 !important;
    color: black !important;
    font-weight: bold !important;
    border: 2px solid black;
    width: 100%;
    margin-top: 15px;
    padding: 3px 0 !important;
}
.btn-cadastro:hover{
    background:  black !important;
    color: #B3B3A9 !important;
    border: 2px solid #B3B3A9;
}
@media(min-width:900px){
    .desktop{ display:block; }
    .mobile{ display:none; } 
}
@media(max-width:900px){
    .logo{
        margin-top: 25% !important;
    }
    footer{ 
        display:block; 
        
    }
    footer .col-md-6{
        width:50%;
        float:left;
        border-right: 1px solid #c2c2c2;
    }
    footer button{
        background:transparent;
        border:none;
        width:100%;
        height:100%;
        color: white;
    }
    .jogos-disponiveis {
        background: #0a6e3f;
        color: white;
        padding: 15px 20px;
        border-radius:10px;
        text-align: left;
        margin: 20px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    .table-mines {
        width: 60%;
        height: 80%;
        margin-left: 20%;
    }
    .table-penalty {
        width: 60%;
        height: 80%;
        margin-left: 20%;
    }
    body{ width:100%; overflow-x:hidden; font-family: 'Roboto', sans-serif; }
    footer {
        width: 100%;
        background-color: #212529!important;
        color: white;
        padding: 5px 0 0;
        text-align: center;
    }
    footer p {
        font-size: 10px;
        padding-bottom: 0px;
        margin-bottom: 5px;
        font-family: 'Bruno Ace SC', cursive;
    }
    .desktop{ display:none; }
    .mobile{ display:block; } 
    .logotipoLogin {
        width: 70%;
        padding: 20% 0 15%;
    }
    .logotipoCadastro{
        width:60%;
    }
    .navbar-brand {
        width: 10%;
        text-align: center;
    }
    li{
        font-family: 'Bruno Ace SC', cursive;
    }
    .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
        color: #e0b42e !important;
        font-weight:bold;
    }
    h2{
        font-family: 'Bruno Ace SC', cursive;
        text-align:center;
        color: #e0b42e;
    }
    .logotipo{
        width:100%;
    }
    .formLogin{
        width: 70% !important;
        margin-left: 15%;
    }
    .div-recuperar-senha{
        text-align:center;
    }
    .div-recuperar-senha a{ 
        color:#B3B3A9;
        font-weight:bold;
    }
    .jogos .card {
        width: 100% !important;
        margin: 10px 0 15px;
    }
    .jogos .col-md-3{ width:50% !important; float:left; }
    .entrada {
        width: 90%;
        margin: 11% 5%;
        background: #c2c2c2;
        border-radius: 12px;
        padding: 35px 30px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        -webkit-box-shadow: 0px 0px 27px 0px rgba(0,167,32,0.8);
        -moz-box-shadow: 0px 0px 27px 0px rgba(0,167,32,0.8);
        box-shadow: 0px 0px 27px 0px rgba(0,167,32,0.8);
    }
}


